*, html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.canvas-box {
    text-align: center;
}

.main-frame {
    margin-left: -10vw;
}

.table-head {
    margin-right: 15px;
    margin-bottom: -50px;
    padding-left: 7.5vw;
    padding-bottom: 10px;
}

.header-required {
    color: red;
}

.line-img {
    width: 1620px;
    height: 15px;
    margin-left: 7.5vw;
    margin-bottom: -20px;
}

.child-cell {
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
}

.cell, .child-cell, .child-cell-output {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
}

.numbering {
    width: 80px;
    padding-right: 5px;
}

.status {
    width: 170px;
}

.quality {
    width: 200px;
}

.title {
    text-align: center;
}

.title > label {
    font-family: 'Orbitron', sans-serif;
    font-size: 14.5px;
    color: steelblue;
    display: inline-block;
    vertical-align: middle;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

.num-label, .env-label, .us-label {
    font-size: 1.3rem;
}

.select {
    font-size: 1.2rem;
    border: none;
}

.status-select {
    width: 150px;
}

.dev-select, .qa-select {
    width: 140px;
}

.label-text-grey {
    color: lightgrey;
}

.environment, .userstory, .developer, .qa {
    width: 200px;
}

.us-number {
    width: 120px;
    font-size: 1.3rem;
    border: none;
    border-bottom: 1px solid lightblue;
}

.form-box {
    padding: 0px !important;
}

.reservation-form, .reservation-fieldset {
    border: none;
}

.box-btn-update {
    margin-top: 25px;
}

.btn-refresh {
    top: 395px;
    width: 1175px;
    font-size: 16px;
    margin-left: -529px;
    padding: 16px 30px;
    color: black;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    position: fixed;
}

.btn {
    top: 280px;
    width: 150px;
    font-size: 16px;
    padding: 16px 30px;
    color: black;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    position: fixed;
}

.btn:hover, .btn-output:hover, .btn-refresh:hover {
    background-color: black;
    color: white;
  }

.line-img-output {
    width: 1550px;
    height: 15px;
    margin-left: -75px !important;
    margin-bottom: -30px;
}

.main-frame-output {
    width: 100%;
    margin-left: -5vw;
    margin-top: 20px;
    padding-top: 10px;
}

.child-cell-output {
    background-color: whitesmoke;
    border: 1px solid skyblue;
}

.break {
    display: block;
}

.cell-reserve {
    padding-top: 22px;
}

.btn-output {
    width: 110px;
    height: 30px;
    font-size: 16px;
    margin-top: -25px;
    margin-left: 10px;
    color: black;
    text-align: center;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    position: fixed;
}

.line-img-output-log {
    margin-top: 85px;
}

.title-log {
    width: 1175px;
    font-size: 1.4rem;
    color: lightskyblue;
    text-align: left;
    margin-top: 30px;
    margin-left: 17vw;
}

.warning {
    width: 1175px;
    font-size: 12px !important;
    font-style: italic !important;
    color: red !important;
    text-align: left;
    margin-top: 15px !important;
    margin-left: 17vw;
}

.log-parent-box {
    text-align: center !important;
    margin-left: 17vw;
}

.log-output-box {
    width: 1175px;
    min-width: 1000px;
    height: 165px;
    text-align: left !important;
    color: lawngreen;
    background: black !important;
    margin-top: 15px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;

    border: 1px dashed lawngreen;
}

.log-output {
    background: black;
}
